{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% macro MojBanner(component) %}
  {{ mojBanner({
    html: component.model.content,
    type: component.model.type
  }) }}
{% endmacro %}
